@import url(./global.css);

/*  General Setting */
*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    padding-inline: clamp(12px, calc(-22.286px + 10.714vw), 132px);
}

p , .card_Price span{
    font-size: var(--paragraph-text-size);
    color: var(--Neutral_700);
    font-family: var(--inter-regular);
}
h1 , .card_Price >:nth-child(2){
    font-family: var(--Martian-Bold);
    color: var(--Neutral_900);  
}

h1 , p {
 margin-block: clamp(1.25rem,5%,2.5rem);
}
button{
    color:var(--Neutral_900) ;
    font-size: var(--button-text-size);
    font-family: var(--Martian-semiBold);
    outline: 2px solid var(--Neutral_900);
    padding: .75rem;
    border-radius: 8px;
    background-color: var(--Light-Salmon_50);
    border: none;
    transition: 3ms ease-in-out 1ms;
}
button img{
    vertical-align: middle;
}
button:hover{
    background-image: var(--gradient);
}
button:focus{
    outline: 2px dashed var(--Neutral_900);
}
#hero_title{
    color: transparent;
    background-clip: text;
    background-image: var(--text-gradient);
}
img{
    object-fit: contain;
}

.section_with_img{
    display: flex;
    flex-direction: row;
}
.section_with_img >img{
    border-radius: 8px ;
    object-fit: cover;
}
.left_start , .left_start>div{
    display: flex;
}
.left_start {
    flex-wrap: wrap;
}
.left_start>div{
    flex-direction: column;
}
.left_start .avatars{
    max-height: 3rem ;
    height: 5%;
    vertical-align: middle;
}



/*STYLING SECTION ITEMS : section by section */
/*READ TOGETHER SECTION*/
.check_Para{
    display: flex;
    flex-wrap: nowrap;
    gap: .5rem;
    margin-bottom: 5%;
}
.check_Para p{
     margin-block: 0;
}
#hero_grid_Background, header , .card_Price:nth-child(2) , #bgSquared {
    background-image: 
        url(./assets/images/pattern-light-bg.svg),
        url(./assets/images/pattern-glow.svg);

    background-position: 
        100% ,
        right bottom;

    background-repeat: no-repeat, no-repeat;

    background-color: var(--Neutral_100);
    background-size: auto , 50%;
}

/*MEMBERSHIP OPTIONS SECTION */
#price_container{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    
}

.card_Price{
    outline: 2px solid var( --Neutral_200 );
    border-radius: 8px ;
    min-width: calc(640px/2 - 1rem);
    width: calc(100%/3 - 1rem);
    padding-block: 1rem;
    max-width: 20rem;
    box-shadow: 4px 4px .5rem var(--Neutral_100 ) ;

}
.card_Price span+div {
    border-top: 1px solid var(--Neutral_200);
    padding-top: .5rem;
}
.card_Price>*{
    margin: 5% ;
}

.card_Price>div > div{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.card_Price>*>*{
    margin-block: .5rem;
}
.card_Price>h1{
    font-size: calc(var(--price-citation-size));
}
.card_Price button{
    width: 100%;
}


/*TECH READING JOURNEY SECTION*/
#Reading_Journey_Container{
    display: flex;
    gap: 5%;
}
#Reading_Journey_Container >* , #Reading_Journey_Container p{
    font-family: var(--Martian-semiBold);
    flex: 1 1 auto;
    font-size: calc(var(--etiquette) + 4px);
}
#Reading_Journey_Container .days_arrowImages{
    display: flex;
    justify-content: space-between;
}

#Reading_Journey_Container .days_arrowImages>span{
    display: inline-block;
    border: 2px solid var(--Neutral_900);
    padding: .5rem .8rem;
    height: fit-content;
    border-radius: 4px;
}

/*STYLING TESTIMONY SECTION*/
cite blockquote{
    font-size: var(--price-citation-size);
    font-style: normal;
    font-family: var(--Martian-semiBold);
}
cite #Author{
    /*
    -paragraph-text-size: 1.25rem;
    --inter-regular : inter-regular ;*/
    font-size: var(--paragraph-text-size);
    font-family: var(--inter-regular);
    font-style: normal;
}

/*STYLING FOOTER*/
footer{
    background: url(./assets/images/pattern-dark-bg.svg) var(--Neutral_900);
 }
 footer>*{
    color: var(--Neutral_0);
 }
 footer button{
    outline: 2px solid var(--Neutral_0);
 }
footer #avatars_Start_footer{
    display: flex;
}
footer #avatars_Start_footer>*{
    flex: 1 1 auto;
}
footer #avatars_Start_footer {
    width: fit-content;  
}
footer button , #avatars_Start_footer{
    min-width: 320px;
    width: 45%;
}
footer #avatars_Start_footer >div{
    display: flex;
    flex-direction: column;
}
footer #footer_Content{
    display: flex;
    justify-content: space-between;
}
/*RESPONSIVE DESIGN WITH MEDIA QUERIES*/
@media screen and  (max-width: 540px) {
 .card_Price{
            margin-inline:auto;
    }

}

@media screen and (max-width:768px) {
 .section_with_img{
    flex-direction: column;
 }
.section_with_img .side_img{
    order: 2;
}
#Reading_Journey_Container{
    flex-direction: column;
}
#Reading_Journey_Container img{
    display: none;
}

}

@media screen and (min-width:1024px){

    .section_with_img{
    row-gap: 1.5rem;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
   }
    .section_with_img >*{
    width: calc((100% /2) - 1.5rem);
    height: 60%;
    } 
 
}

